@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.1.2/css/material-design-iconic-font.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
*{
	margin:0;
	padding: 0;
}

.body{
	font-family: 'Ubuntu', sans-serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

nav{
	height: 60px;
    background-color: rgba(255, 255, 255, 0.95);
    top: 0;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #D7CECE;
}


.links{
	width: 90%;
	clear: both;
	margin: auto;
	text-align: center;
	
}

.links a{
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    color: #727272;
    margin-right: 15px;
    font-family: 'Ubuntu';
    padding: 20px 0 ;
    font-weight: 300;
    font-size: 1.2em;
    float: left;
	
}
.links a:hover{
	color: #1C4355;
	transition:all 0.5s ease;
	font-weight: 400;
}


.headersection{
	height: 85vh;
	background-color: #32749b;
	background-attachment: fixed;
	background-position: center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox; 
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    background-image: url(../img/back.jpg);
    width: 100%;
}

.intro1{
	

}

.headersection h1{
	text-align: center;
	font-family: 'Ubuntu';
	color: white;
	background-size: cover;
	letter-spacing: 1px;
	font-size: 80px;
}

.aboutsection h2 ,.skillssection h2{
	text-align: center;
	padding-top: 40px;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	color: #474747;
	padding-bottom: 3px;
	border-bottom: 3px solid;
	margin: auto;
}

h2{
	text-align: center;
	padding-top: 30px;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 3px;
	border-bottom: 3px solid;
	width: 220px;
	margin: auto
}

.profilepic{
	background-image: url(../img/profilepic.jpg);
	height: 200px;
	width: 195px;
	margin: 30px auto;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	text-align: center;
	
}

.description{
	padding-bottom: 70px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	color: #727272;
	margin: auto;
	width: 70%;	
	line-height: 32px;
    font-size: 20px;
    letter-spacing: 0.1px;

}


.skillssection{
	background-color: #1a1a1a;
	
}

.porfoliosection{
	background:#32749B;
	margin: auto;
	position: relative;
}

.center{
	margin:auto;
	align-items:center;
	justify-content:centerS;
}
.project{
	
	height: 450px;
	text-align: center;
	margin: auto;
	padding:50px 0;
	margin-bottom: 80px;
}
.skill{
	color: #D5D5D5;
	font-family: 'Ubuntu',sans-serif;
	padding: 50px 0;
	font-size: 20px;
	font-weight:300;
	line-height: 32px;
}
.contactsection{
	margin: auto;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

li{
	line-height: 40px;
	display: block;
}
form{
	margin: 70px auto;
	align-items:center;
	
    
}
label{
	font-size: 22px;
	font-family: 'Ubuntu',sans-serif;
	display: block;
	margin-top: 50px;
	text-align: inherit;
	color: #6A6A6A;
	padding-left: -150px
}

input{
	border:0px;
	border-bottom: 2px solid #222;
	padding-top: 20px;
	width: 350px;
	font-size: 18px;
	font-family: 'Ubuntu',sans-serif;
	font-weight: 300;
}
textarea{
	border-left:2px solid #333;
	width: 450px;
	height: 300px;
	border-bottom: 0;
	border-top: 0;
	border-right: 0;
	font-family: 'Ubuntu';
	padding:40;
	font-size: 18px;
}

.msg{
	margin:auto;
	text-align: center;
}

input[type="submit"]{
    color: white;
    background-color: #060606;
    margin: 20px auto 100px auto;
    width: 90px;
    height: 40px;
    padding: 1px 0px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 20px;
}


input::selection{
	color:white;
	
}
.footer{
	background-color: #273138;
	height: 120px;
	clear: both;
}

.social{
	text-align: center;
	color: #DBDBDB;
	font-size: 25px;
	padding-top: 30px;
}
.social p{
	text-align: center;
	color: #CBCBCB;
	font-size: 15px;
	padding-top: 10px;
	letter-spacing: 1px;
	font-family: 'Lora';
}
.subfooter{
	height: 50px;
	background-color: #222A30;
	color: #A3A3A3;
	text-align: center;
	clear: both;
}

.subfooter p{
	padding-top: 17px;
	text-transform: capitalize;
    font-family: 'Lora';
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 2px;
   
}


/*==========ICONS=======================*/

.zmdi-twitter,.zmdi-github,.zmdi-linkedin-box,
.zmdi-email-open,.zmdi-chevron-down
{
	margin-right: 20px;
	cursor: pointer;
}
.zmdi-menu{
	padding: 20px 0 ;
    font-weight: 300;
    font-size: 1.5em;
    float: right;
    color: grey;
    visibility: hidden;
    cursor: pointer;
}
.zmdi-menu:hover{
	color: black;
}
.zmdi-chevron-down{
	color: white;
	animation:pulse 0.9s ;
	-webkit-animation-iteration-count: 16; /* Chrome, Safari, Opera */
	animation-iteration-count: 16;
}


@keyframes pulse{
	0%{
		margin-bottom: 0px;

	}

	100%{
		margin-top: 10px;
	}
}

.zmdi-favorite{
	color: #AB3939;
	font-size: 23px;
	padding-top: 5px;
}

.social a{
	text-decoration: none;
	color: #DBDBDB;
}

.social a:hover{
	transform:rotate(360deg);
}
/*====================================*/
::selection {
	background-color: rgba(6, 6, 6, 0.58);
	color:white;
}

::-moz-selection{
	background-color: rgba(6, 6, 6, 0.58);
	color:white;
}

@media  (max-width: 500px){
	.headersection h1{
		font-size: 42px;

	}

	.links a{
		float: right;
		display: block;
		visibility: hidden;
	}
	.headersection{
		height: 500px;
	}

	

	.zmdi-menu{
		visibility: visible;
	}
}