@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Linden+Hill);

*{
	margin: 0;
	padding: 0;
}


html{
	font-size: 100%;
}

body{
	-webkit-font-smoothing: antialiased;
	-osx-font-smoothing: grayscale;
	font-family: 'Lato', Helvetica, sans-serif;
	font-weight: 300;
}

nav{
	height: 75px;
	width: 100%;
	
	position: fixed;
	top: 0;
	background-color: rgba(14, 33, 44, 0.85);
	transition: all 0.7s ease;
	z-index: 1;
}

nav ul{
	padding: 22px;
	text-align: center;
}


nav ul li{
	text-transform: capitalize;
	display: inline-block;
	margin-right: 15px;
	
	
}

nav ul li a{
	font-size: 22px;
	color: white;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	transition: all 0.2s ease;
	border-left: 1px solid #FFFFFF;
    padding-left: 22px;
	
}

nav ul li a:hover{
	padding-right: 20px;
	background-color: rgba(13, 14, 14, 0.35);
	transform:rotate(5deg );

}
nav ul li a:selection{
	border-bottom: 3px solid coral;
	padding: 1em 0;
	position: fixed;
}
nav.past-main {
    background-color:#0A0A0A;
    font-color: white;


}


header{

	z-index: 2;
}


.landingsection{
	background-image:url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height:100vh;
	width: 100%;
	align-items: center;
 	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.landingsection::before{
	background-color: black;
}

h1{

	color: black;
    font-size: 55px;
    padding: 5px;
    letter-spacing: 3px;
    background-color: #FED400;
	font-family: 'Lato', serif;
	
}

.intro{
	margin-right: 175px;
}

.aboutsection{
	padding-top: 55px;
	background-color: white;
	font-weight: 300;
}

.photocircle{
	text-align: center;
	margin: 0 auto;


}

#profilepic{
	height: 225px;
	border-radius: 50%;


}
.aboutme {
	margin: auto;
	line-height: 30px;
    font-size: 22px;
    padding-top: 30px;
    padding-bottom:150px;
    font-weight: 300;
    width: 80%; 
	
}
.padding{
	padding: 70px 50 0 0;
}

.skillssection{
	background-color: #0E212C;
	padding-top: 50px;
	padding-bottom: 80px;
}

.contactsection{
	height: 500px;
	background-color: white;
}
.content{
	background-size: cover;
}
.projectsection{
	height: 100%;
	background-color: #2EAEBB;
	padding-bottom: 50px;
}
.project{
	padding-bottom: 50px;
	margin-right: 20px;
}
.icons{
	text-align: center;
	padding-top: 30px;
}

.fa{
	cursor: pointer;
}

.fa-chevron-circle-down{
	
	color: #00B291;
	display: flex;
	position: absolute;
	animation:pulse 0.7s ;
	padding-top: 150px;
	text-align: center;
	left: 50%;
	animation-iteration-count: 8;


}

@keyframes pulse{
	0%{
		margin-bottom: 5px;

	}

	100%{
		margin-top: 10px;
	}
}

.fa-bars{
	float: left;
	color: white;
	visibility: hidden;
	margin: -10px;
	font-size: 40px;
	cursor: pointer;
}

.fa-facebook:hover{
	font-size: 25px;
	-webkit-transition: all 0.4s;
	-transition: all 0.4s;
	transform:rotate(360deg);
	color: #3a5795;
}

.fa-twitter:hover{
	font-size: 25px;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	transform: rotate(360deg);
	color:#55acee;
}

.fa-linkedin:hover{
	font-size: 25px;
	-webkit-transition: all 0.5s;
	transition: all 0.4s;
	transform: rotate(360deg);
	color: #0077B5;
}

.fa-paper-plane-o:hover{
	font-size: 25px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	transform:rotate(720deg);
	color: #01D4A5;
}
.fa-github:hover{
	font-size: 25px;
	color: grey;
	-webkit-transition: all 0.3s;
  transition: all 0.4s;
	transform:rotate(360deg);
	-webkit-transform: rotate (5deg);
}

.fa-git,.fa-tasks, .fa-html5, .fa-css3{
	color: #00B291;
}

i{
	margin-left: 10px;
    margin-right: 10px;
	color: white;
}

footer{
	height: 150px;
	background-color: #0A0A0A;
	position: absolute;
	width: 100%;
}

footer p{
	color: #D2D0D0;
	text-align:center;
	font-size: 12.2px;
	padding-top: 15px;
	font-weight: 300;
	position: static;
	letter-spacing: 1px;

}

footer h3{
	padding-top: 22px;
	font-weight: 500;
	color:white;
	letter-spacing: 1px;
}

.fa-heart{
	color: #990000;
}

.logo{
	
	margin-bottom: 0px;
	bottom: 0;
}

.skillstext{
	font-size: 20px;
	font-weight: 300px;
	line-height: 50px;
}

#text{
	color: white;
}


::selection{
	background:rgba(26, 50, 52, 0.32);
}

@media screen and (max-width: 768px)  {
	.fa-bars{
		visibility: visible;
	}

	nav{
		
		height: 50px;
	}

	nav ul li{
		display: block;
		text-align: center;
		padding-top: 60px;

	}

	nav ul li a{
		visibility: hidden;
	}

	h1{
		background: none;
		text-align: center;
		padding: 0px;
		align-items: center;
		position: static;
		

	}

	.landingsection{
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height:100vh;
		width: 100%;
		align-items: center;
	 	text-align: center;
		
	}

	.fa-chevron-circle-down{
		visibility: hidden;
	}

	h1{
		text-align: left;
		display: inline-block;
		text-transform: uppercase;
		
	}
}
