@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Linden+Hill);

*{
	margin: 0;
	padding: 0;
}


html{
	font-size: 100%;
}

body{
	-webkit-font-smoothing: antialiased;
	-osx-font-smoothing: grayscale;
	font-family: 'Lato', Helvetica, sans-serif;
	font-weight: 300;
}

nav{
	height: 75px;
	width: 100%;
	text-align: center;
	position: fixed;
	top: 0;
	background-color: #860038;
	transition: all 0.7s ease;
	z-index: 1;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.33);
}

nav ul{
	padding: 25px;
}


nav ul li{
	text-transform: uppercase;
	display: inline-block;
	margin-right: 30px;
	
}

nav ul li a{
	font-size: 20px;
	color: white;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	transition: all 0.2s ease;

	font-weight: 400;
	
}

nav ul li a:hover{
	border-bottom: 3px solid coral;
	padding-bottom: 0.5em ;
	background-color: #65002A;
	transform:rotate(5deg );

}
nav ul li a:selection{
	border-bottom: 3px solid coral;
	padding: 1em 0;
	position: fixed;
}
nav.past-main {
    background-color:#000;
    font-color: white;


}


header{

	z-index: 2;
}


.landingsection{
	background-image:url(../images/work3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height:95vh;
	width: 100%;
	align-items: center;
 	text-align: center;
	margin-bottom: 55px;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.landingsection::before{
	background-color: black;
}

h1{

	color: black;
    font-size: 55px;
    padding: 5px;
    letter-spacing: 3px;
    background-color: #FFBC00;
	font-family: 'Lato', serif;
	
}

.intro{
	margin-right: 175px;
}

.aboutsection{

	background-color: white;
	font-weight: 300;
}

.photocircle{
	width:240px;
	height:240px;
	margin: 0 auto;


}

#profilepic{
	height: 250px;
	width: 230px;
	background-size: cover;
	border-radius: 50%;
	text-align: center;
	background-size: cover;

}
.aboutme {
	margin: auto;
	line-height: 25px;
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 80px;
    border-bottom: 1px solid #C4B8B8;
    font-weight: 300;
    
	
}

.skillssection{
	background-color: white;
	padding-top: 50px;
	padding-bottom: 80px;
}

.contactsection{
	height: 500px;
	background-color: #2EAEBB;
}

.icons{
	text-align: center;
	padding-top: 40px;
}

.fa{
	cursor: pointer;
}

.fa-angle-double-down{
	font-size: 35px;
	color: coral;
	display: flex;
	position: absolute;
	animation:pulse 0.7s infinite;
	padding-top: 150px;
	text-align: center;
	left: 50%;

}

@keyframes pulse{
	0%{
		margin-bottom: 0px;

	}

	100%{
		margin-top: 10px;
	}
}

.fa-bars{
	float: left;
	color: white;
	visibility: hidden;
	margin: -10px;
	font-size: 40px;
	cursor: pointer;
}

.fa-facebook:hover{
	font-size: 25px;
	-webkit-transition: all 0.4s;
	-transition: all 0.4s;
	transform:rotate(360deg);
	color: #3a5795;
}

.fa-twitter:hover{
	font-size: 25px;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	transform: rotate(360deg);
	color:#55acee;
}

.fa-linkedin:hover{
	font-size: 25px;
	-webkit-transition: all 0.5s;
	transition: all 0.4s;
	transform: rotate(360deg);
	color: #0077B5;
}

.fa-envelope:hover{
	font-size: 25px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.4s;
	transform:rotate(360deg);
	color: black;
}
.fa-github:hover{
	font-size: 25px;
	color: #9C27B0;
	-webkit-transition: all 0.3s;
  transition: all 0.4s;
	transform:rotate(360deg);
	-webkit-transform: rotate (5deg);
}

.fa-git,.fa-tasks, .fa-html5, .fa-css3{
	color: #2EAEBB;
}

i{
	margin-left: 10px;
    margin-right: 10px;
	color: white;
}

footer{
	height: 150px;
	background-color: #5D0335;
	position: absolute;
	width: 100%;
}

footer p{
	color: #D2D0D0;
	text-align:center;
	font-size: 12.2px;
	padding-top: 15px;
	font-weight: 300;
	position: static;

}

footer h3{
	padding-top: 25px;
	font-weight: 500;
}

.fa-heart{
	color: #990000;
}

.logo{
	
	margin-bottom: 0px;
	bottom: 0;
}

.skillstext{
	font-size: 20px;
	font-weight: 300px;
	line-height: 50px;
}

#text{
	color: #7C7272;
}


::selection{
	background:rgba(26, 50, 52, 0.32);
}

@media screen and (max-width: 560px)  {
	.fa-bars{
		visibility: visible;
	}

	nav{
		
		height: 50px;
	}

	nav ul li{
		display: block;
		text-align: center;
		padding-top: 60px;

	}

	nav ul li a{
		visibility: hidden;
	}

	h1{
		background: none;
		text-align: center;
		padding: 0px;
		align-items: center;
		position: static;
		

	}

	.landingsection{
		background-image: url(../images/opteiffeltower.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		height:80vh;
		width: 100%;
		align-items: center;
	 	text-align: center;
		margin-bottom: 55px;

	}

	.fa-angle-double-down{
		visibility: hidden;
	}

}
