*{
	margin: 0;
	padding: 0;
}


html{
	font-size: 100%;
}

body{
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Raleway', sans-serif;
}

nav{
	height: 75px;
	width: 100%;
	text-align: center;
	position: fixed;
	top: 0;
	background-color: rgba(0, 0, 0, 0.11);
	transition: all 0.7s ease;
}

nav ul{
	padding: 40px;
}

.fa-bars{
	float: left;
	color: white;
	visibility: hidden;
	margin: 20px;
}

nav ul li{
	text-transform: uppercase;
	display: inline-block;
	margin-right: 30px;
}

nav ul li a{
	font-size: 20px;
	color: white;
	text-decoration: none;
	font-weight: 300px;
}

nav ul li a:hover{
	text-decoration: underline;
	transition: all 1s ease;
}

nav.past-main {
    background-color:#000;
    height: 75px;
   
}

nav ul.past-height{
	padding: 25px;
}

header{
	
	z-index: 2;
}


.landingsection{
	background-image:url(../images/optimized-eiffeltower.jpg); 
	background-repeat: no-repeat;
	background-size: cover;
	height: 650px;
	width: 100%;	
	z-index: 1;

}

h1{
	text-transform: uppercase;
	text-align: center;	
	padding-top:250px;
	color: #254648;
	font-size: 55px;
	font-family: 'Montserrat', sans-serif;
	
}


.aboutsection{
	height: 550px;	
	background-color: white;
}

.photocircle{
	width:240px;
	height:240px;
	color:transparent;
	
	margin: 0 auto;
	padding-top: 60px;
	
}

#profilepic{
	height: 250px;
	width: 230px;
	background-size: cover;
	border-radius: 50%;
	text-align: center;
	background-size: cover;
	
}
.aboutme {
	width: 90%;
	margin: auto;
	padding-top: 65px;
	line-height: 28px;
    font-size: 20px;
}

.skillssection{
	height: 500px;
	background-color: #Efefef;	
}

.contactsection{
	height: 500px;
	background-color: #2EAEBB;
}

.icons{
	text-align: center;
	padding-top: 40px;
}

footer{
	height: 150px;
	background-color: #5D0335;
}

.fa-facebook:hover{
	font-size: 25px;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transform:rotate(360deg);
	color: #3a5795;
}
.fa-twitter:hover{
	font-size: 25px;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transform:rotate(360deg);
	color:#55acee;
}

.fa-linkedin:hover{
	font-size: 25px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.4s;	
	transform:rotate(360deg);
	color: #0077B5;
}

.fa-envelope:hover{
	font-size: 25px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.4s;
	transform:rotate(360deg);
	color: black;
}
.fa-github:hover{
	font-size: 25px;
	color: #9C27B0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.4s;
	transform:rotate(360deg);
	-webkit-transform: rotate (5deg);
}

i{
	margin-left: 10px;
    margin-right: 10px;
	color: white;
}

footer p{
	color: white;
	text-align:center;
	font-size: 12.2px;
	padding-top: 25px;

}

footer h3{
	padding-top: 25px;
	text-shadow: 0px 1px #181918;
}

.fa-heart{
	color: #B30303;
}


.skillstext{
	font-size: 20px;
	font-weight: 300px;
	line-height: 50px;
}

@media screen and (max-width: 400px)  {
	.fa-bars{
		visibility: visible;
	}

	nav{
		background-color: #0077B5;
		height: 50px;
	}
	
	nav ul li{
		display: inline;
		text-align: center;
		padding-top: 60px;
	
	}

	nav ul li a{
		visibility: hidden;
	}
}
